<!-- wp:template-part {"slug":"header","theme":"udemy","tagName":"header","className":"shadow"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"8rem","bottom":"8rem"}}},"className":"container !mx-auto"} -->
<div class="wp-block-group container !mx-auto" style="margin-top:8rem;margin-bottom:8rem"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"8rem"}},"textColor":"white","className":"shadow-404"} -->
  <h1 class="has-text-align-center shadow-404 has-white-color has-text-color" id="404" style="font-size:8rem">404</h1>
  <!-- /wp:heading -->
  
  <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"1.875rem","fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"top":"0rem","bottom":"1rem"}}}} -->
  <h2 class="has-text-align-center" id="we-can-t-seem-to-find-the-page-you-are-looking-for" style="font-size:1.875rem;font-style:normal;font-weight:500;margin-top:0rem;margin-bottom:1rem">We can't seem to find the page you are looking for.</h2>
  <!-- /wp:heading -->
  
  <!-- wp:paragraph {"align":"center","className":"underline underline-offset-4 !mt-4"} -->
  <p class="has-text-align-center underline underline-offset-4 !mt-4"><a href="/" target="_blank" rel="noreferrer noopener">Head back to the home page.</a></p>
  <!-- /wp:paragraph --></div>
  <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"udemy","tagName":"footer"} /-->