<!-- wp:template-part {"slug":"header","theme":"udemy","tagName":"header","className":"shadow"} /-->

<!-- wp:html -->
<!-- Page Header -->
<div class="wp-block-udemy-plus-page-header">
  <div class="inner-page-header">
    <h1>Category: Cats</h1>
  </div>
</div>
<!-- /wp:html -->

<!-- wp:columns {"style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}},"className":"container !mx-auto"} -->
<div class="wp-block-columns container !mx-auto" style="margin-top:4rem;margin-bottom:4rem"><!-- wp:column {"width":"66.66%"} -->
  <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:query {"queryId":10,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
  <div class="wp-block-query"><!-- wp:post-template -->
  <!-- wp:columns {"style":{"border":{"style":"none","width":"0px"},"spacing":{"margin":{"bottom":"2.5rem"},"padding":{"bottom":"2.5rem"}}},"className":"border-b"} -->
  <div class="wp-block-columns border-b" style="border-style:none;border-width:0px;margin-bottom:2.5rem;padding-bottom:2.5rem"><!-- wp:column {"width":"33.33%"} -->
  <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:post-author {"avatarSize":24,"style":{"spacing":{"margin":{"bottom":"0.5rem"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"u-gray-700","className":"post-author"} /-->
  
  <!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-700"}}},"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":1.8},"spacing":{"margin":{"bottom":"0.5rem","top":"0px"}}},"fontSize":"medium"} /-->
  
  <!-- wp:post-date {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-500"}}}},"className":"!mt-0"} /--></div>
  <!-- /wp:column -->
  
  <!-- wp:column {"width":"66.66%","className":"!mt-0"} -->
  <div class="wp-block-column !mt-0" style="flex-basis:66.66%"><!-- wp:post-featured-image {"isLink":true,"width":"100%","className":"rounded-lg overflow-hidden","style":{"spacing":{"margin":{"bottom":"1rem"}}}} /-->
  
  <!-- wp:group {"style":{"typography":{"fontSize":"0.875rem"},"spacing":{"padding":{"bottom":"1rem"},"margin":{"top":"0px","bottom":"0px"}}},"textColor":"u-gray-500","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group has-u-gray-500-color has-text-color" style="margin-top:0px;margin-bottom:0px;padding-bottom:1rem;font-size:0.875rem"><!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-500"}}}}} /-->
  
  <!-- wp:post-comments-count {"className":"bi post-comment-count"} /--></div>
  <!-- /wp:group -->
  
  <!-- wp:post-excerpt {"style":{"typography":{"fontSize":"0.875rem"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /--></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
  <!-- /wp:post-template -->
  
  <!-- wp:query-pagination {"paginationArrow":"chevron","style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-500"}}}},"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap"}} -->
  <!-- wp:query-pagination-previous {"className":"rounded-md py-2 px-4 block transition-all hover:bg-gray-100"} /-->
  
  <!-- wp:query-pagination-next {"className":"rounded-md py-2 px-4 block transition-all hover:bg-gray-100"} /-->
  <!-- /wp:query-pagination -->
  
  <!-- wp:query-no-results -->
  <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when the query returns no results."} -->
  <p></p>
  <!-- /wp:paragraph -->
  <!-- /wp:query-no-results --></div>
  <!-- /wp:query --></div>
  <!-- /wp:column -->
  
  <!-- wp:column {"width":"33.33%"} -->
  <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"udemy"} /--></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
  
  <!-- wp:template-part {"slug":"footer","theme":"udemy","tagName":"footer","className":"bg-gray-700 p-16"} /-->